* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
#header {
    letter-spacing: 0.188em;
    font-size: 0.938em;
}

#header #logo {
    display: block;
    padding: 0.625em;
    padding-left:1.25em;
}

#logo b {
    font-size: 1.25em;
}

#header #register {
    display: block;
    position: absolute;
    bottom: 0.625em;
    right: 4.375em;
}

#header #login {
    display: block;
    position: absolute;
    bottom: 0.625em;
    right: 0.625em;
}

#header span#greet {
    display: block;
    position: absolute;
    bottom: 0.625em;
    right: 6.25em;
}

#header #logout {
    position: absolute;
    bottom: 0.313em;
    right: 0.625em;
}

/* footer */
#footer {}

span#copy {
    display: block;
    position: absolute;
    top: 0.313em;
    left: 0.313em;

    font-size: 0.938em;
}

span#tech {
    display: block;
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    font-size: 0.75em;
}

/* video list */
#videos {
    text-align: center;
}

#videos input[type=button] {
    margin: 1.25em 0;
}

#videos #videolist {
    margin-bottom: 0.625em;
}

/* content */
#player {
    margin: 0.5em 0;
}

#controls input {
    float: left;
    margin-bottom: 0.625em;
    margin-left: 0.625em;
}

#timestamps {
    padding-left: 0.625em;
    padding-bottom: 0.5em;
}

#timestamps .time {
    width: 3.75em;
}

#timestamps .name {
    width: 31.25em;
}

#timestamps .delete {
    width: 1.875em;
    text-align: center;
}

/* page styling */
div#header {
    border-bottom: 1px solid gray;
}

div#footer {
    border-top: 1px solid gray;
}

/* layout */
div#container {
    width: 50em;
    margin-bottom: 0.625em;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    position: relative;
}

div#content {
    position: relative;
    float: left;
    width: 37.5em;
    margin: 0;
    padding: 0;

    min-height: 12.5em;
    height: expression(this.scrollHeight > 600 ? "auto" : "37.5em");
}

#player, #controls, #timestamps {
    display: inline-block;
    width: 37.5em;
}

#controls {

}

table#timestamps {
    width: 34.375em;
}

div#videos {
    float: left;
    width: 12.5em;
    margin: 0;
    padding: 0;
}

div#footer {
    position: relative;
    clear: both;
    margin: 0;
    padding: 0;
    height: 1.875em;
}