<form id="helpModal" style="display: none;">
    <div>
        <h2>SEEK Video Looper And Manager</h2>
    </div>

    <p>
        <b>SEEK</b> combines Youtube with looping, timestamps, and powerful keyboard
        transport controls to create the ultimate video player.
    </p>

    <div>
        <ul>
            <li>Add timestamps to videos for instant recall</li>
            <li>Break down video lessons step-by-step</li>
            <li>Chop up full albums into individual tracks</li>
            <li>Musicians: Create perfect loops for study and performance</li>
        </ul>
    </div>

    <div>
        <table>
            <tr>
                <th>KEY</th><th>COMMAND</th>
                <th>[right]</th><td>jump ahead five seconds</td>
            </tr>
            <tr>
                <th>[space]</th><td>play/pause</td>
                <th>[shift + right arrow]</th><td>jump ahead thirty seconds</td>
            </tr>
            <tr>
                <th>[+]</th><td>add a new video</td>
                <th>[left arrow]</th><td>jump back five seconds</td>
            </tr>
            <tr>
                <th>[a]</th><td>add new timestamp</td>
                <th>[shift + left arrow]</th><td>jump back thirty seconds</td>
            </tr>
        </table>
    </div>

    <div>
        <img src="/static/help-addvideo.png" style="float: right; margin-right: 20px;">
        <p style="float: left; margin-top: 20px;">
            Click the "ADD VIDEO" button in top right to get started
        </p>
    </div>

    <div>
        <img src="/static/help-addvideomodal.png" style="float: left;">
        <p style="float: right; width: 130px; margin-top: 50px;">
            Copy and paste any Youtube URL
        </p>
    </div>

    <div>
        <img src="/static/help-transport.png" style="float: right;">
        <p style="float: left; width: 120px; padding: 5px;">
            Use the transport controls to navigate, with keyboard controls:
        </p>
    </div>


    <div>
        <img src="/static/help-timestamp.png" style="float: left;">
        <p style="float: right; width: 130px; margin-top: 5px;">
            Click any timestamp button to instantly jump to that time in the video
        </p>
    </div>

    <div>
        <img src="/static/help-looping.png" style="float: right;">
        <p style="float: left; width: 130px; margin-top: 35px;">
            Use the loop controls for seamless looping
        </p>
    </div>

    <div>
        <img src="/static/help-star.png" style="float: left; margin-left: 20px;">
        <p style="float: right; width: 300px; margin-top: 35px;">
            Add a star for favorite videos
        </p>
    </div>

    <span>&copy; Alex Gallichotte 2013</span>
</form>