<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <title>SEEK</title>

	<meta name="description" content="SEEK video manager">
	<meta name="author" content="Alex Gallichotte <chapterhouse.io@gmail.com">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- site -->
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" href="/static/skeleton.css">
	<link rel="stylesheet" href="/static/layout.css">
    <!--<link href="/static/style.css" rel="stylesheet" type="text/css" />-->

    <!-- jquery -->
    <script src="/static/library/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/library/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/library/jquery.modal.min.js" type="text/javascript"></script>

    <!--<script src="jq.js"></script>-->
    <link href="/static/jquery.modal.css" rel="stylesheet" type="text/css" />

    <!-- knockout -->
    <script src="/static/library/knockout-2.3.0.js" type="text/javascript"></script>
    <script src="/static/api.js" type="text/javascript"></script>
    <script src="/static/models/timestamp.js" type="text/javascript"></script>
    <script src="/static/models/video.js" type="text/javascript"></script>
    <script src="/static/models/player.js" type="text/javascript"></script>
    <script src="/static/models/model.js" type="text/javascript"></script>
    <script src="/static/code.js" type="text/javascript"></script>

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>


	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
        <!-- HEADER - contains logo and account management -->
        <header>
            <div class="twelve columns alpha">
                <!-- logo-->
                <div class="two columns alpha">
                    <img class="logo" alt="SEEK" src="/static/seek-logo.png" />
                </div>
                <!-- TODO - can put stuff here? -->
                <div class="five columns">
                </div>
                <!-- nav -->
                <div class="buttons five columns omega">
                    <a data-bind="click: helpModal">HELP</a>
                    <dialog id="helpModal" style="display: none;">
                        <p>
                            SEEK is an advanced video player and manager for Youtube.<br>

                            <ul>
                                <li>Save collections of videos</li>
                                <li>Create and track timestamps in videos</li>
                                <li>Loop sections of a video</li>
                            </ul>

                            {% if not user.id %}
                                <p class="warning">
                                    Anyone can add videos and timestamps using SEEK,<br>
                                    but you must be logged in for your changes to be saved.<br>
                                    Creating an account is free and easy!
                                </p>
                            {% endif %}

                            &copy; Alex Gallichotte 2013<br>
                            {% if not user.id %}
                                <button data-bind="click: registerModal">REGISTER</button>
                                <button data-bind="click: loginModal">LOGIN</button>
                            {% endif %}

                        </p>
                    </dialog>
                    {% if not user.id %}
                        <a data-bind="click: registerModal">REGISTER</a>
                        <form id="registerModal" action="/account/register" method="post" style="display: none;">
                            {% csrf_token %}
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text">
                            <label for="email">Email</label>
                            <input id="email" name="email" type="text">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password">
                            <label for="repassword">Re-enter Password</label>
                            <input id="repassword" name="repassword" type="password">
                            <br>
                            <input type="submit" value="Register">
                        </form>
                        <a data-bind="click: loginModal">LOGIN</a>
                        <form id="loginModal" action="/account/log_in" method="post" style="display: none;">
                            {% csrf_token %}
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text"><br/>
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password"><br/>
                            <input type="submit" value="Log In">
                        </form>
                    {% else %}
                        <a href="/account/log_out">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
            <div class="four columns">
                <a class="add-video" data-bind="
                    {% if user.id %}
                    click: player.addVideoModal,
                    {% else %}
                    click: function() {
                        if (saveWarn() == true) {
                            player.addVideoModal();
                        }
                    },
                    {% endif %}
                    event: {
                        mouseover: function() { player.helpText('[+] add new video'); },
                        mouseout: function() { player.helpText(''); }
                    }">ADD VIDEO</a>
                <form id="addVideoModal" style="display:none;">
                    <label for="youtubeUrl">Enter YouTube URL</label>
                    <!-- TODO add jquery watermark -->
                    <button data-bind="click: player.addVideo">Add</button>
                    <div>
                        <input id="youtubeUrl" type="text" data-bind="event: { keypress: player.addVideo }" >
                    </div>
                </form>
            </div>
            <div>
                <dialog id="addTimestampModal" style="display: none;">
                    <label for="timestampName">
                        New timestamp at
                        <span data-bind="text: player.currentTimeDisplay"></span>
                    </label>
                    <button data-bind="click: player.addTimestamp">Create</button>
                    <div>
                        <input id="timestampName" type="text" data-bind="
                            value: player.newTimestampName,
                            valueUpdate: 'afterkeydown',
                            event: { keypress: player.addTimestamp }" >
                    </div>
                </dialog>
                <!-- other modals go here TODO -->
            </div>
        </header>

        <!-- CONTENT pane -->
        <div class="twelve columns alpha">

            <!-- PLAYER - youtube iframe, transport, pop-up volume control  -->
            <section id="video" class="twelve columns alpha omega video-box">

                <!-- TODO - get volume control hooked up -->
                <div class="volume-control" style="display: none;">
                    <div class="volume-bar-box">
                        <figure class="volume-bar"></figure>
                    </div>
                    <figure class="icon sprite volume-wheel"></figure>
                </div>

                <div id='player'></div>

                <form class="transport">
                    <button class="rew30" value="-30" data-bind="
                        click: player.seekDiffEvent,
                        event: {
                            mouseover: function() { player.helpText('[SHIFT + &larr;] rewind 30 seconds'); },
                            mouseout: function() { player.helpText(''); }
                        }" >&lt; 30</button>
                    <button class="rew5" value="-5" data-bind="
                        click: player.seekDiffEvent,
                        event: {
                            mouseover: function() { player.helpText('[&larr;] rewind 5 seconds'); },
                            mouseout: function() { player.helpText(''); }
                        }" >&lt; 5</button>
                    <button class="play-toggle" data-bind="
                        click: player.playPause,
                        event: {
                            mouseover: function() { player.helpText('[SPACE] play/pause'); },
                            mouseout: function() { player.helpText(''); }
                        }" >&gt;</button>
                    <button class="ffw5" value="5" data-bind="
                        click: player.seekDiffEvent,
                        event: {
                            mouseover: function() { player.helpText('[&rarr;] fast-forward 5 seconds'); },
                            mouseout: function() { player.helpText(''); }
                        }" >5 &gt;</button>
                    <button class="ffw30" value="30" data-bind="
                        click: player.seekDiffEvent,
                        event: {
                            mouseover: function() { player.helpText('[SHIFT + &rarr;] fast-forward 30 seconds'); },
                            mouseout: function() { player.helpText(''); }
                        }" >30 &gt;</button>

                    <div class="help-txt">
                        <span data-bind="text: player.helpText"></span>
                        <!-- ko if: model.player.currentVideo() && ! model.player.helpText() -->
                        <span data-bind="text: model.player.currentVideo().title"></span>
                        <!-- /ko -->
                    </div>

                    <!-- TODO - add current time to timestamp button -->
                    <button class="add-timestamp" data-bind="
                            {% if user.id %}
                                click: player.addTimestampModal,
                            {% else %}
                                click: function() {
                                    if (saveWarn() == true) {
                                        player.addTimestampModal();
                                    }
                                },
                            {% endif %}
                            event: {
                                mouseover: function() { player.helpText('[A] create a new timestamp'); },
                                mouseout: function() { player.helpText(''); }
                            } ">
                        ADD STAMP</button>

                    <!-- TODO - audio gets screwed up, re-enable this if Youtube improves HTML5 player
                    <label for="playbackRates">Playback Rate</label>
                    <select id="playbackRates" data-bind="options: player.playbackRates, event: { change: player.setPlaybackRate }">
                    </select>
                    -->
                </form>
            </section>

            <!-- TIMESTAMPS - list and loop controls -->
            <section class="twelve columns alpha omega timestamp-list">
                <div class="row">
                    <div class="one column alpha">
                        <h3>LOOP</h3>
                    </div>
                    <div class="two columns">
                        <h3>JUMP TO</h3>
                    </div>
                    <div class="eight columns">
                        <h3 class="label">LABEL</h3>
                    </div>
                    <div class="one column omega">
                        <!--del label column-->
                    </div>
                </div>

                <!-- ko if: player.currentVideo -->
                <div data-bind="foreach: player.currentVideo().timestampsDisplay">
                    <div class="row">
                        <div class="one column alpha loop-column">
                            <figure class="icon sprite"
                                data-bind="
                                    click: function() { $root.player.loop($data, $index()); },
                                    css: {
                                        'loop-start': loopStart,
                                        'loop-end': loopEnd,
                                        'active': loopActive
                                    },
                                    event: {
                                        mouseover: function() {
                                            if (loopStart()) {
                                                if (loopActive()) {
                                                    $root.player.helpText('clear looping');
                                                } else {
                                                    $root.player.helpText('start looping at ' + getDisplay());
                                                }
                                            } else {
                                                if (loopActive()) {
                                                    $root.player.helpText('clear loop end point');
                                                } else {
                                                    $root.player.helpText('end loop at ' + getDisplay());
                                                }
                                            }
                                        },
                                        mouseout: function() { $root.player.helpText(''); }
                                    }">
                                <span class="line-horz"></span>
                                <span class="line-vert"></span>
                            </figure>
                        </div>
                        <div class="two columns">
                            <button class="timestamp" data-bind="
                                text: getDisplay(),
                                click: function() { $root.player.seek($data, $index()); },
                                css: { 'inactive': buttonInactive },
                                event: {
                                    mouseover: function() { $root.player.helpText('jump to ' + getDisplay()); },
                                    mouseout: function() { $root.player.helpText(''); }
                                }"></button>
                        </div>
                        <div class="eight columns" data-bind="html: name"></div>
                        <div class="one column omega del-column">
                            <figure class="icon sprite trashcan" data-bind="
                                visible: showDelete,
                                click: $root.player.deleteTimestamp,
                                event: {
                                    mouseover: function() { $root.player.helpText('delete timestamp ' + getDisplay()); },
                                    mouseout: function() { $root.player.helpText(''); }
                                }"></figure>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </section>

            <!-- FOOTER - copyright and technologies -->
            <div id="footer" class="twelve columns">
                <br/>
                <br/>
                <span id="copy" class="six columns alpha">
                    &copy; 2013
                    <a href="http://chapterhouse.io">Alex Gallichotte</a>.
                    Design by <a href="http://juanmoncada.com">Juan Moncada</a>
                </span>
                <span id="tech" class="six columns omega">
                    <a target="blank" href="https://djangoproject.com/">Django</a>
                    <a target="blank" href="http://knockoutjs.com/">KnockoutJS</a>
                    <a target="blank" href="http://jquery.com/">jQuery</a>
                    <a target="blank" href="https://developers.google.com/youtube/iframe_api_reference">YouTube API</a>
                    <a target="blank" href="https://heroku.com/">Heroku</a>
                </span>
            </div>

        </div>

        <!-- SIDEBAR - video selection and categorizes -->
        <aside class="four columns sidebar">
                <!-- TODO - add categories -->
                <div class="dropdown" style="display: none;">
                    <span class="icon sprite folder"></span>
                    <span class="category">VIDEO CATEGORY</span>
                    <span class="down-arrow"></span>
                    <ul>
                        <li><a>Uncategorized</a></li>
                        <li><a>listitem2</a></li>
                        <li><a>listitem3</a></li>
                        <li><a>Manage Categories...</a></li>
                    </ul>
                </div>

            <div data-bind="foreach: player.videos">
                <!-- TODO - add stars and garbage cans -->
                <div class="row">
                    <div class="icon sprite star" data-bind="css: { active: star }, click: toggleStar"></div>
                    <img data-bind="
                        attr: { src: getThumbnailUrl(), title: title },
                        click: model.player.loadVideo,
                        event: {
                            mouseover: function() { $root.player.helpText('load \'' + title() + '\'' ); },
                            mouseout: function() { $root.player.helpText(''); }
                        }">
                    <div class="icon sprite trashcan" data-bind="click: function() { $root.player.deleteVideo($data); }"></div>
                </div>
            </div>

        </aside>

    </div>
</body>
{% if not user.id %}
    <script type="text/javascript">
        $(document).ready(function() {
            model.saveWarning = true;
        });
    </script>
{% endif %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46772505-1', 'chapterhouse.io');
    ga('send', 'pageview');
</script>
</html>