<!DOCTYPE html>
<html>
<head>
    <title>Youtube Manager</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <div id="header">
            <span id="logo">CueTube</span>
        </div>
        <div id="videos">
            <input type="button" value="Add a video">
            <!-- TODO - load videos from endpoint with ajax point -->
            <img src="http://img.youtube.com/vi/rvdYly4A5W0/default.jpg">
            <img src="http://img.youtube.com/vi/iaAkWy55V3A/default.jpg">
            <img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg">
        </div>
        <div id="content">content</div>
        <div id="footer">
            <span id="footerText">&copy; 2013 Alex Gallichotte</span>
        </div>
    </div>
</body>
</html>