<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <title>SEEK</title>

	<meta name="description" content="SEEK video manager">
	<meta name="author" content="Alex Gallichotte <chapterhouse.io@gmail.com">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- site -->
	<link rel="stylesheet" href="/static/base.css">
	<link rel="stylesheet" href="/static/skeleton.css">
	<link rel="stylesheet" href="/static/layout.css">
    <!--<link href="/static/style.css" rel="stylesheet" type="text/css" />-->

    <!-- jquery -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/jquery.modal.min.js" type="text/javascript"></script>

    <!--<script src="jq.js"></script>-->
    <link href="/static/jquery.modal.css" rel="stylesheet" type="text/css" />

    <!-- knockout -->
    <script src="/static/knockout-2.3.0.js" type="text/javascript"></script>
    <script src="/static/api.js" type="text/javascript"></script>
    <script src="/static/models.js" type="text/javascript"></script>
    <script src="/static/code.js" type="text/javascript"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div class="container">
        <!-- HEADER - contains logo and account management -->
        <header>
            <div class="twelve columns alpha">
                <!-- logo-->
                <div class="two columns alpha">
                    <img class="logo" alt="SEEK" src="/static/seek-logo.png" />
                </div>
                <!-- title -->
                <div class="five columns" data-bind="if: model.player.currentVideo()">
                    <h3 data-bind="text: model.player.currentVideo().title"></h3>
                </div>
                <!-- nav -->
                <div class="five columns omega">
                    {% if not user.id %}
                        <a data-bind="click: register">REGISTER</a>
                        <form id="registerModal" action="/account/register" method="post" style="display: none;">
                            {% csrf_token %}
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text"><br/>
                            <label for="email">Email</label>
                            <input id="email" name="email" type="text"><br/>
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password"><br/>
                            <label for="repassword">Re-enter Password</label>
                            <input id="repassword" name="repassword" type="password"><br/>
                            <input type="submit" value="Register">
                        </form>
                        <a data-bind="click: login">LOGIN</a>
                        <form id="loginModal" action="/account/log_in" method="post" style="display: none;">
                            {% csrf_token %}
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text"><br/>
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password"><br/>
                            <input type="submit" value="Log In">
                        </form>
                    {% else %}
                        <a href="#">{{ user.username.upper }}</a>
                        <a href="/account/log_out">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
            <div class="four columns">
                <a class="add-video" data-bind="click: openVideoModal">+ ADD VIDEO</a>
            </div>
        </header>

        <div class="twelve columns alpha">

            <!-- CONTENT - the player and timestamps -->
            <section id="video" class="twelve columns alpha omega video-box">
                <div class="volume-control">
                    <div class="volume-bar-box">
                        <figure class="volume-bar"></figure>
                    </div>
                    <figure class="icon sprite volume-wheel"></figure>
                </div>

                <div id='player'></div>

                <form class="controls">
                    <button data-bind="click: player.seekDiff" class="rew30" value="-30">&lt; 30</button>
                    <button data-bind="click: player.seekDiff" class="rew5" value="-5">&lt; 5</button>
                    <button data-bind="click: player.playPause"class="play-toggle">&gt;</button>
                    <button data-bind="click: player.seekDiff" class="ffw30" value="5">5 &gt;</button>
                    <button data-bind="click: player.seekDiff" class="ffw30" value="30">30 &gt;</button>
                    <div class="help-txt">hidden text until hover</div>
                    <button data-bind="click: player.addTimestamp" class="add-timestamp">ADD STAMP @ 0:00</button>

                    <!-- TODO - audio gets screwed up, re-enable this if Youtube improves HTML5 player
                    <label for="playbackRates">Playback Rate</label>
                    <select id="playbackRates" data-bind="options: player.playbackRates, event: { change: player.setPlaybackRate }">
                    </select>
                    -->
                </form>
            </section>

            <section class="twelve columns alpha omega timestamp-list">
                <!-- ko if: player.currentVideo -->
                <table id="timestamps" data-bind="foreach: player.currentVideo().timestamps">
                    <tr>
                        <td class="time">
                            <button data-bind="text: getDisplay(), click: $parent.player.seek" />
                        </td>
                        <td class="name" data-bind="text: name"></td>
                        <td class="loop">
                            <button data-bind="click: $parent.player.setStartPoint,
                                               visible: $parent.player.showStartPoint($data)">Start</button>
                            <button data-bind="click: $parent.player.setEndPoint,
                                               visible: $parent.player.showEndPoint($data, $index())">End</button>
                        </td>
                        <td class="delete">
                            <button data-bind="click: $parent.player.deleteTimestamp">X</button>
                        </td>
                    </tr>
                </table>
                <!-- /ko -->
            </section>

            <!-- FOOTER - copyright and technologies -->
            <div id="footer" class="twelve columns">
                <span id="copy">
                    &copy; 2013
                    <a href="http://chapterhouse.io">Alex Gallichotte</a>
                </span>
                <span id="tech">
                    <a target="blank" href="https://djangoproject.com/">Django</a>
                    <a target="blank" href="http://knockoutjs.com/">KnockoutJS</a>
                    <a target="blank" href="http://jquery.com/">jQuery</a>
                    <a target="blank" href="https://developers.google.com/youtube/iframe_api_reference">YouTube API</a>
                    <a target="blank" href="https://heroku.com/">Heroku</a>
                </span>
            </div>

        </div>

        <!-- VIDEOS - for selecting a video -->
        <aside class="four columns sidebar">
                <div class="dropdown">
                    <span class="icon sprite folder"></span>
                    <span class="category">VIDEO CATEGORY</span>
                    <span class="down-arrow"></span>
                    <ul>
                        <li><a href="#">Uncategorized</a></li>
                        <li><a href="#">listitem2</a></li>
                        <li><a href="#">listitem3</a></li>
                        <li><a href="#">Manage Categories...</a></li>
                    </ul>
                </div>

            <div data-bind="foreach: videos">
                <img data-bind="attr: { src: getThumbnailUrl(), title: title }, click: model.player.loadVideo">
            </div>
            <form id="addVideoModal" style="display:none;">
                <label for="youtubeUrl">YouTube Video URL</label>
                <!-- TODO add jquery watermark -->
                <input id="youtubeUrl" type="text"
                       data-bind="event: { keypress: addVideo }" >
            </form>
        </aside>

    </div>
</body>
</html>