<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Seek</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="base.css">
	<link rel="stylesheet" href="skeleton.css">
	<link rel="stylesheet" href="layout.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="jq.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div class="lightbox">
	<div class="container">
		<div class="six columns alpha omega offset-by-five">
			<div class="bg">
				<a style="display:none;" class="button close" href="#">&times;</a>
				<div class="sample">
					Sample<br />
					<button>Sample</button><button class="cancel">Cancel</button>
				</div>
				<div class="alert-delete-timestamp">
					Delete timestamp:<br />
						<strong>n:nn - label text</strong><br />
						<button>Yes, delete</button><button class="cancel">Cancel</button>
				</div><!-- /.alert-delete-timestamp -->
				<div class="alert-delete-video">
					Delete video:<br />
						<strong>The title of the video</strong><br />
						<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" /><br />
						<button>Yes, delete</button><button class="cancel">Cancel</button>
				</div><!-- /.alert-delete-video -->
				<div class="alert-add-video">
					<h2>Add Video</h2>
					<form>
						<label for="video-url">Video URL</label>
						<input type="text" id="video-url" />
						<div class="three columns alpha omega">
							<label>Category</label>
							<div class="dropdown black half-bottom">
								<span class="icon sprite folder"></span>
								<span class="category">Uncategorized</span>
								<span class="down-arrow"></span>
								<ul>
									<li><a href="#">Uncategorized</a></li>
									<li><a href="#">listitem2</a></li>
									<li><a href="#">listitem3</a></li>
								</ul>
							</div>
						</div><!-- /.dropdown -->
						<div class="clear"></div>
						<button>Add video</button><button>Cancel</button>
					</form>
				</div><!-- /,alert-add-video -->
				<div class="alert-manage-categories">
					<form>
						<h2>Manage Categories</h2>
						<div class="row add-top remove-bottom">
							<div class="five columns alpha omega">
								<input type="text" id="uncategorized" value="Uncategorized" disabled />
							</div>
							<div class="one column alpha omega">

							</div>
						</div>
						<div class="row remove-bottom">
							<div class="five columns alpha omega">
								<input type="text" id="cat1" value="cat name 1" />
							</div>
							<div class="one column alpha omega">
								<figure class="icon sprite trashcan"></figure>
							</div>
						</div>
						<div class="row remove-bottom">
							<div class="five columns alpha omega">
								<input type="text" id="cat2" value="cat name 2" />
							</div>
							<div class="one column alpha omega">
								<figure class="icon sprite trashcan"></figure>
							</div>
						</div>
						<button>Add New Category</button><button class="cancel">Cancel</button>
						<hr class="remove-bottom" />
						<p class="half-top">Deleting a category will move all of it's videos to Uncategorized</p>
					</form>
				</div><!-- /.alert-manage-categories -->
			</div>
		</div>
	</div>
</div><!-- /.lightbox -->
<div class="black-overlay"></div>

<header>
	<div class="container">
		<div class="twelve columns">
			<div class="two columns alpha">
				<img class="logo" alt="SEEK" src="imgs/seek-logo.png" />
			</div>
			<div class="ten columns omega">
				<nav>
					<a href="javascript:void(0);">LOG IN</a> /
					<a href="javascript:void(0);">SIGN UP</a>
				</nav>
			</div>
		</div>
		<div class="four columns">
			<a class="add-video" href="#">+ ADD VIDEO</a>
		</div>
	</div>
</header>

<div class="container">
<div class="twelve columns">

	<section class="twelve columns alpha omega video-box">
		<div class="nine columns alpha video-title">
			<h2>The title of the selected video</h2>
		</div>
		<div class="three columns omega video-category">
			<div class="dropdown">
				<span class="icon sprite folder"></span>
				<span class="category">character limit of 22?</span>
				<span class="down-arrow"></span>
				<ul>
					<li><a href="#">Uncategorized</a></li>
					<li><a href="#">listitem2</a></li>
					<li><a href="#">listitem3</a></li>
					<li><a href="#">Manage Categories...</a></li>
				</ul>
			</div><!-- /.dropdown -->
		</div>
		<div class="video-box">
			<div class="volume-control">
				<div class="volume-bar-box">
					<figure class="volume-bar"></figure>
				</div>
				<figure class="icon sprite volume-wheel"></figure>
			</div>
			<iframe class="video" src="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0" frameborder="0"></iframe>
			<div class="controls">
				<button class="rew30" title="skip back 30 seconds"><span class="icon sprite back30"></span> :30</button>
				<button class="rew5" title="skip back 5 seconds"><span class="icon sprite back5"></span> :05</button>
				<button class="play-toggle" title="play/pause"><span class="icon sprite play"></span></button>
				<button class="ffw5" title="skip forward 5 seconds">:05 <span class="icon sprite forward5"></span></button>
				<button class="ffw30" title="skip forward 30 seconds">:30 <span class="icon sprite forward30"></span></button>
				<div class="help-txt">hidden text until hover</div>
				<button class="add-timestamp" title="save this timestamp">ADD STAMP @ nn:nn.nn<span class="current-time"></span></button>
			</div>
		</div>
	</section><!-- /video+controls -->

	<section class="twelve columns alpha omega timestamp-list">
		<div class="row">
			<div class="one column alpha">
				<h3>LOOP</h3>
			</div>
			<div class="two columns">
				<h3>JUMP TO</h3>
			</div>
			<div class="eight columns">
				<h3 class="label">LABEL</h3>
			</div>
			<div class="one column omega">
				<!--del label column-->
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="one column alpha loop-column">
				<figure class="icon sprite loop-start">
					<span class="line-horz"></span>
					<span class="line-vert"></span>
				</figure>
			</div>
			<div class="two columns">
				<button class="timestamp">0:00</button>
			</div>
			<div class="eight columns">
				<p>BEGINNING</p>
			</div>
			<div class="one column omega del-column">
				<figure class="icon sprite trashcan"></figure>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="one column alpha loop-column">
				<figure class="icon sprite loop-start">
					<span class="line-horz"></span>
					<span class="line-vert"></span>
				</figure>
			</div>
			<div class="two columns">
				<button class="timestamp">e:nd</button>
			</div>
			<div class="eight columns">
				<p>ENDING</p>
			</div>
			<div class="one column omega del-column">
				<figure class="icon sprite trashcan"></figure>
			</div>
		</div><!-- /.row -->
	</section><!-- /.timestamp-list -->
	<section class="twelve columns alpha omega credits">
			<p>&copy; 2013 Alex Gallichotte</p>
			<ul>
				<li><a href="#">Django</a></li>
				<li><a href="#">KnockoutJS</a></li>
				<li><a href="#">jQuery</a></li>
				<li><a href="#">YouTube API</a></li>
				<li><a href="#">Heroku</a></li>
			</ul>
	</section><!-- /.credits -->

</div>

	<aside class="four columns sidebar">
		<div class="three columns alpha omega browse">
			<div class="dropdown black">
				<span class="icon sprite folder"></span>
				<span class="category">character limit of 22?</span>
				<span class="down-arrow"></span>
				<ul>
					<li><a href="#">Uncategorized</a></li>
					<li><a href="#">listitem2</a></li>
					<li><a href="#">listitem3</a></li>
					<li><a href="#">Manage Categories...</a></li>
				</ul>
			</div><!-- /.dropdown -->
		</div>

		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star active"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->
		<div class="row">
			<a href="http://www.youtube-nocookie.com/embed/1ZxN9iQM7OY?rel=0">
				<img src="http://img.youtube.com/vi/1ZxN9iQM7OY/default.jpg" />
			</a>
			<div class="icon sprite star"></div>
			<div class="icon sprite trashcan"></div>
		</div><!-- /.row -->

		<div class="sidebar-bg"></div>
	</aside><!-- /.sidebar -->

</div><!-- /.container -->

</body>
</html>