{% extends "player.html" %}

{% block nav %}
    <a data-bind="click: registerModal">REGISTER</a>
    <a data-bind="click: loginModal">LOGIN</a>
{% endblock %}

{% block navmodals %}
    <form id="registerModal" action="/account/register" method="post" style="display: none;">
        {% csrf_token %}
        {{ form.register.as_p }}
        <span class="warning"></span>
        <input type="submit" value="REGISTER">
    </form>
    <form id="loginModal" action="/account/log_in" method="post" style="display: none;">
        {% csrf_token %}
        {{ form.login.as_p }}
        <span class="warning"></span><br>
        <input type="submit" value="Log In">
        <a href="{% url 'reset_password' %}">Forgot password?</a>
    </form>
    <form id="warnModal" style="display: none;">
        <p class='warning'>
            Anyone can add videos and timestamps using SEEK, <br>
            but you must be logged in for your changes to be saved.
        </p>
        <p>
            Creating an account is free and easy!
        </p>
        <input type="submit" data-bind="click: registerModal" value="REGISTER">
        <input type="submit" data-bind="click: loginModal" value="LOGIN">
    </form>
{% endblock %}

{% block code %}
    <script type="text/javascript">
        $(document).ready(function() {
            model.saveWarning = true;
        });
    </script>
{% endblock %}
