{% extends "master.html" %}

{% block navbutton %}
    <a class="add-video" data-bind="
        {% if user.id %}
        click: player.addVideoModal,
        {% else %}
        click: function() {
            if (saveWarn() == true) {
                player.addVideoModal();
            }
        },
        {% endif %}
        event: {
            mouseover: function() { player.helpText('[+] add new video'); },
            mouseout: function() { player.helpText(''); }
        }">ADD VIDEO</a>

    <form id="addVideoModal" style="display:none;" data-bind="submit: player.addVideo">
        <label for="youtubeUrl">Enter YouTube URL</label>
        <!-- TODO add jquery watermark -->
        <input type="submit" value="Add Video">
        <div>
            <input id="youtubeUrl" type="text">
        </div>
    </form>
{% endblock %}

{% block content %}
    <div>
        <form id="addTimestampModal" style="display: none;" data-bind="submit: player.addTimestamp">
            <label for="timestampName">
                New timestamp at
                <span data-bind="text: player.currentTimeDisplay"></span>
            </label>
            <input type="submit" value="Create">
            <div>
                <input id="timestampName" type="text">
            </div>
        </form>

    </div>

    <!-- PLAYER - youtube iframe, transport, pop-up volume control  -->
    <section id="video" class="twelve columns alpha omega video-box">

        <!-- TODO - get volume control hooked up -->
        <div class="volume-control" style="display: none;">
            <div class="volume-bar-box">
                <figure class="volume-bar"></figure>
            </div>
            <figure class="icon sprite volume-wheel"></figure>
        </div>

        <div id='player'></div>

        <form class="transport">
            <button class="rew30" value="-30" data-bind="
                click: player.seekDiffEvent,
                event: {
                    mouseover: function() { player.helpText('[SHIFT + &larr;] rewind 30 seconds'); },
                    mouseout: function() { player.helpText(''); }
                }" >&lt; 30</button>
            <button class="rew5" value="-5" data-bind="
                click: player.seekDiffEvent,
                event: {
                    mouseover: function() { player.helpText('[&larr;] rewind 5 seconds'); },
                    mouseout: function() { player.helpText(''); }
                }" >&lt; 5</button>
            <button class="play-toggle" data-bind="
                click: player.playPause,
                event: {
                    mouseover: function() { player.helpText('[SPACE] play/pause'); },
                    mouseout: function() { player.helpText(''); }
                }" >&gt;</button>
            <button class="ffw5" value="5" data-bind="
                click: player.seekDiffEvent,
                event: {
                    mouseover: function() { player.helpText('[&rarr;] fast-forward 5 seconds'); },
                    mouseout: function() { player.helpText(''); }
                }" >5 &gt;</button>
            <button class="ffw30" value="30" data-bind="
                click: player.seekDiffEvent,
                event: {
                    mouseover: function() { player.helpText('[SHIFT + &rarr;] fast-forward 30 seconds'); },
                    mouseout: function() { player.helpText(''); }
                }" >30 &gt;</button>

            <div class="help-txt">
                <span data-bind="text: player.helpText"></span>
                <!-- ko if: model.player.currentVideo() && ! model.player.helpText() -->
                <span data-bind="text: model.player.currentVideo().title"></span>
                <!-- /ko -->
            </div>

            <!-- TODO - add current time to timestamp button -->
            <button class="add-timestamp" data-bind="
                    {% if user.id %}
                        click: player.addTimestampModal,
                    {% else %}
                        click: function() {
                            if (saveWarn() == true) {
                                player.addTimestampModal();
                            }
                        },
                    {% endif %}
                    event: {
                        mouseover: function() { player.helpText('[A] create a new timestamp'); },
                        mouseout: function() { player.helpText(''); }
                    } ">
                ADD STAMP</button>

            <!-- TODO - audio gets screwed up, re-enable this if Youtube improves HTML5 player
            <label for="playbackRates">Playback Rate</label>
            <select id="playbackRates" data-bind="options: player.playbackRates, event: { change: player.setPlaybackRate }">
            </select>
            -->
        </form>
    </section>

    <!-- TIMESTAMPS - list and loop controls -->
    <section class="twelve columns alpha omega timestamp-list">
        <div class="row">
            <div class="one column alpha">
                <h3>LOOP</h3>
            </div>
            <div class="two columns">
                <h3>JUMP TO</h3>
            </div>
            <div class="eight columns">
                <h3 class="label">LABEL</h3>
            </div>
            <div class="one column omega">
                <!--del label column-->
            </div>
        </div>

        <!-- ko if: player.currentVideo -->
        <div data-bind="foreach: player.currentVideo().timestampsDisplay">
            <div class="row">
                <div class="one column alpha loop-column">
                    <figure class="icon sprite"
                        data-bind="
                            click: function() { $root.player.loop($data, $index()); },
                            css: {
                                'loop-start': loopStart,
                                'loop-end': loopEnd,
                                'active': loopActive
                            },
                            event: {
                                mouseover: function() {
                                    if (loopStart()) {
                                        if (loopActive()) {
                                            $root.player.helpText('clear looping');
                                        } else {
                                            $root.player.helpText('start looping at ' + getDisplay());
                                        }
                                    } else {
                                        if (loopActive()) {
                                            $root.player.helpText('clear loop end point');
                                        } else {
                                            $root.player.helpText('end loop at ' + getDisplay());
                                        }
                                    }
                                },
                                mouseout: function() { $root.player.helpText(''); }
                            }">
                        <span class="line-horz"></span>
                        <span class="line-vert" data-bind="style: { height: $root.player.loopConnector }"></span>
                    </figure>
                </div>
                <div class="two columns">
                    <button class="timestamp" data-bind="
                        text: getDisplay(),
                        click: function() { $root.player.seek($data, $index()); },
                        css: { 'inactive': buttonInactive },
                        event: {
                            mouseover: function() { $root.player.helpText('jump to ' + getDisplay()); },
                            mouseout: function() { $root.player.helpText(''); }
                        }"></button>
                </div>
                <div class="eight columns" data-bind="html: name"></div>
                <div class="one column omega del-column">
                    <figure class="icon sprite trashcan" data-bind="
                        visible: showDelete,
                        click: $root.player.deleteTimestamp,
                        event: {
                            mouseover: function() { $root.player.helpText('delete timestamp ' + getDisplay()); },
                            mouseout: function() { $root.player.helpText(''); }
                        }"></figure>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </section>

{% endblock %}

{% block sidebar %}
    <!-- TODO - add categories -->
    <div class="dropdown" style="display: none;">
        <span class="icon sprite folder"></span>
        <span class="category">VIDEO CATEGORY</span>
        <span class="down-arrow"></span>
        <ul>
            <li><a>Uncategorized</a></li>
            <li><a>listitem2</a></li>
            <li><a>listitem3</a></li>
            <li><a>Manage Categories...</a></li>
        </ul>
    </div>

    <div data-bind="foreach: player.videos">
        <!-- TODO - add stars and garbage cans -->
        <div class="row">
            <div class="icon sprite star" data-bind="css: { active: star }, click: toggleStar"></div>
            <img data-bind="
                attr: { src: getThumbnailUrl(), title: title },
                click: model.player.loadVideo,
                event: {
                    mouseover: function() { $root.player.helpText('load \'' + title() + '\'' ); },
                    mouseout: function() { $root.player.helpText(''); }
                }">
            <div class="icon sprite trashcan" data-bind="click: function() { $root.player.deleteVideo($data); }"></div>
        </div>
    </div>
{% endblock %}
