{% extends "form.html" %}

{% block innercontent %}
    <p><h2>Password reset</h2></p>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form action="/account/reset_password" method="POST">
        {% csrf_token %}
        <p>
            <label for="id_email">Email: </label>{{ form.email }}
            <span class="warning">{{ form.email.errors.as_text }}</span>
        </p>
        <p><span class="warning">{{ error }}</span></p>
        <input type="submit" value="Send Reset Email">
    </form>
{% endblock %}
